<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adaugă candidat</title>
</head>
<body>
<div class="form-container">
    <h1>Adaugă Candidat</h1>
    <form action="#" method="post">
        <label for="name">Nume</label>
        <input type="text" id="name" name="name" required>
        <label for="cnp">CNP:</label>
        <input type="text" id="cnp" name="cnp" required>
        <!-- select with exam configurations -->
        <label for="examConfig">Configurație examen:</label>
        <select id="examConfig">
            <option th:each="examConfig : ${examConfigs}"
                    th:value="${examConfig.id}"
                    th:text="${examConfig.drivingLicenseType}"></option>
            </select>

        </select>
        <button type="submit">Adaugă Candidat</button>
    </form>
</body>
</html>