<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Încercare examen auto</title>
</head>
<body>
<div class="time">
    <input type="hidden" id="endTime" th:value="${examAttempt.getEnd()}"></input>
    <h3 id="time"></h3>
</div>
<h1>Întrebarea nr. <span th:text="${examAttempt.getCurrentQuestionIndex() + 1}"></span> din <span th:text="${examAttempt.getTotalQuestions()}"></span></h1>
<div class="exam-progress">
    <h5>Corecte: <span th:text="${examAttempt.getCorrectAnswers()}"></span></h5>
    <h5>Greșite: <span th:text="${examAttempt.getWrongAnswers()}"></span></h5>
</div>
<form action="#" th:action="@{/exam/submit}" method="post">

    <div class="question-text">
    <p th:text="${examAttempt.getCurrentQuestion().text}"></p>
</div>
<ul class="answers">
    <li th:each="answer : ${examAttempt.getCurrentQuestion().answers}">
        <input type="checkbox"
               th:id="'answer' + ${answer.getKey()}"
               name="selectedAnswers"
               th:value="${answer.getKey()}"
               class="answer-checkbox">
        <label th:for="'answer' + ${answer.getKey()}"
               th:text="${answer.getValue()}"></label>
    </li>

</ul>

    <input type="hidden" name="questionId" th:value="${examAttempt.getCurrentQuestion().questionId}">
    <input type="hidden" name="examAttemptId" th:value="${examAttempt.id}">
    <button type="submit" id="sendButton" disabled>Trimite Raspunsul</button>
</form>

</body>

<script>

    const checkboxes = document.querySelectorAll('.answer-checkbox');
    const submitButton = document.getElementById('sendButton');

    // Function to check if any checkbox is selected
    function toggleSubmitButton() {
        const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
        submitButton.disabled = !anyChecked;
    }

    // Add event listeners to checkboxes
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', toggleSubmitButton);
    });

    const endTime = new Date(document.getElementById('endTime').value);
    const timeElement = document.getElementById('time');

    function updateTimer() {
        const currentTime = new Date().getTime();
        const timeLeft = endTime - currentTime;
        const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
        timeElement.innerText = `Timp ramas: ${minutes}:${seconds}`;
        if (timeLeft < 0) {
            window.location.href = '/exam/finish?examAttemptId=' + document.getElementById('examAttemptId').value;
        }
    }

    updateTimer();
    setInterval(updateTimer, 1000);
</script>


</html>