<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Question #<span th:text="${examAttempt.getCurrentQuestionIndex() + 1}"></span></h1>
<form action="#" th:action="@{/exam/submit}" method="post">
<div class="question-text">
    <p th:text="${examAttempt.getCurrentQuestion().text}"></p>
</div>
<ul class="answers">
    <li th:each="answer : ${examAttempt.getCurrentQuestion().answers}">
        <input type="checkbox"
               th:id="'answer' + ${answer.getKey()}"
               name="selectedAnswers"
               th:value="${answer.getKey()}"
               class="answer-checkbox">
        <label th:for="'answer' + ${answer.getKey()}"
               th:text="${answer.getValue()}"></label>
    </li>

</ul>

    <input type="hidden" name="questionId" th:value="${examAttempt.getCurrentQuestion().questionId}">
    <input type="hidden" name="examAttemptId" th:value="${examAttempt.id}">
    <button type="submit" id="sendButton" disabled>Trimite Raspunsul</button>
</form>

</body>

<script>

    const checkboxes = document.querySelectorAll('.answer-checkbox');
    const submitButton = document.getElementById('sendButton');

    // Function to check if any checkbox is selected
    function toggleSubmitButton() {
        const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
        submitButton.disabled = !anyChecked;
    }

    // Add event listeners to checkboxes
    checkboxes.forEach(checkbox => {
        checkbox.addEventListener('change', toggleSubmitButton);
    });
</script>
</html>