<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Examen Auto</title>
</head>
<header>
    <h1>Examen Auto</h1>
    <div class="menu">
        <a href="/candidates">Candidați</a>
        <a href="/questions">Întrebări</a>
    </div>
</header>

<div class="container">
    <h2>Introduceti CNP-ul pentru a începe examenul:</h2>
    <form action="/exam/start" method="POST" id="examForm">
        <div class="form-group">
            <input type="text" id="cnp" name="cnp" placeholder="Introduceti CNP-ul" maxlength="13" required/>
        </div>
        <button type="submit" class="start-button">START</button>
    </form>
</div>

</html>