<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adaugă întrebare</title>
</head>
<body>
<div class="form-container">
    <h1>Adaugă Întrebare</h1>
    <form th:action="@{/questions/add}" method="post">
        <div class="form-group">
            <label for="text">Întrebare</label>
            <textarea id="text" name="text" th:text="${question.text}" rows="4" placeholder="Introduceți întrebare" required></textarea>
        </div>

        <div class="form-group">
            <label for="category">Configuratie examen</label>
            <select id="category" name="examConfigId" required>
                <option value="">Categorie permis</option>
                //show selected if examConfig.id equals examConfigId

                <option th:each="examConfig : ${examConfigs}"
                        th:value="${examConfig.id}" th:text="${examConfig.drivingLicenseType}"
                        th:selected="${question.examConfigId == examConfig.id}"></option>
            </select>
        </div>

        <div class="form-group">
            <label>Răspunsuri posibile</label>
            <div th:each="answer, iter : ${question.answers}">
                <label>
                    <input type="text" th:value="${answer}"
                           th:field="*{question.answers[__${iter.index}__]}"/>
                    <input type="checkbox" th:checked="${question.correctAnswers[iter.index]}"
                           th:field="*{question.correctAnswers[__${iter.index}__]}"/>
                </label>
            </div>

            <div class="actions">
                <button type="submit">Adaugă Întrebare</button>
                <button type="button" class="cancel-button" onclick="window.location.href='/questions'">Anulează</button>
            </div>
    </form>
</div>
</body>
</html>